@tailwind base;
@tailwind components;
@tailwind utilities;



/*.App {*/
/*    width: 100vw;*/
/*    min-height: 100%;*/
/*    @apply bg-white;*/
/*    @apply dark:bg-black;*/
/*}*/

.slick-prev:before,
.slick-next:before {
    color: black!important;
}

& .slick-list { margin: 0 -7px; & .slick-slide > div { padding: 0 10px; } }